@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@407&display=swap');
body {
    background-color:#000;
    background-image:url("https://images.unsplash.com/photo-1503435824048-a799a3a84bf7?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8cmFpbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=60");
    
    /*old bg-img link
    https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTV_r3S0VRaBqho2f9mUz47CmT4Q_IQtIzoyg&usqp=CAU
    */
    
    user-select:none;
    
    
    background-size:100vw 100vh;
}
*{
    margin:0;
    padding:0;
    user-select:none;
    outline:none;
}
#code{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    width:100vw;
    text-align:center;
}
#card{
    width:80vw;
    height:80vh;    background-color:rgba(255,255,255,0.2);
    text-align:center;
    box-shadow:2px 3px 5px rgba(0,0,0,0.5);
}
#heading{
   position:relative;
   font-size:20px;
   color:white;
}
#menu_option{
    position:fixed;
    color:#fff;
    z-index:5;
}
.place{
    font-size:40px;
    margin-top:50px;
    color:#fff;
    font-family: 'cairo', sans-serif;
    border-radius:30px;
    
}
#place{
    background-color:rgba(255,255,255,0.2);
    backdrop-filter:blur(6px);
    padding-left:10px;
    padding-right:10px;
    min-width:250px;
    display:inline-block;
    border-radius:30px;
}
.date{
    color:#fff;
    font-family: 'Raleway', sans-serif;
    letter-spacing:3px;
    font-weight:bolder;
    margin-top:30px;
    
}
#date{
    background-color:rgba(255,255,255,0.2);
    backdrop-filter:blur(6px);
    padding:20px;
    display:inline-block ;
    border-radius:20px;
}
.temperature{
    font-size:25px;
    color:#fff;
    font-weight:bold;
    margin-top:-10px;
    
    
}
#temperature{
    background-color:rgba(255,255,255,0.2);
    backdrop-filter:blur(6px);
    padding:20px;
    min-width:250px;
    display:inline-block ;
    border-radius:20px;
}

#climat{
    font-size:25px;
    color:#fff;
   
    height:50px;
    margin-top:70px;
    margin-bottom:60px;
   } 
   .climate{
   display:inline-block ;
   font-weight:bold;
       margin-bottom:30px;
       background-color:rgba(255,255,255,0.2);
    backdrop-filter:blur(6px);
    border-radius:20px;
    min-width:200px;
    margin-bottom:200px;
   }
   #climate{
       margin-top:-40px;
       padding:20px;
   }
.line{
    font-size:20px;
    font-weight:bold;
    border-bottom:5px dashed white;
    width:100%;
    height:15px;
    display:none;
}
#help{
position:absolute;
    color:#fff;
    float:right;
    bottom:0;
    right:0;
    margin-bottom:85px;
    margin-right:20px;
}
.popup{
    position:absolute;
    background-color:rgb(255,255,255);
    border-radius:3px;
    width:79%;
    max-width:400px;
    margin:auto;
    font-family:'raleway',sans-serif;
    font-weight:lighter ;
    background-color:rgba(255,205,255,0.2);
    backdrop-filter:blur(20px);
    text-align:center;
    box-shadow:2px 3px 5px rgba(0,0,0,0.5);
}
#toast {
  visibility:hidden;
  background-color:#333;
  color:#fff;
  text-align:center;
  border-radius:2px;
  padding:16px;
  position:fixed;
  z-index:1;
  left:50%;
  transform:translateX(-50%);
  bottom:30px;
  width:70vw;
  font-size:1rem;
}

#toast.active {
  visibility:visible;
  animation:fadein 0.5s, fadeout 0.5s 1.5s;
}


@keyframes fadein {
  from {
    bottom:0;
    opacity:0;
  }
  to {
    bottom:30px;
    opacity:1;
  }
}


@keyframes fadeout {
  from {
    bottom:30px;
    opacity:1;
  }
  to {
    bottom:0;
    opacity:0;
  }
}
#menu-help{
    height:80vh;
    width:80vw;
    background-color:rgba(255,205,255,0.2);
    backdrop-filter:blur(20px);
    display:none;
}
#help-card{
   height:90vh;
    overflow:auto;

}

#select {
    margin:20px 0;
    margin-top:10px;
    padding:5px 10px;
    font-size:20px;
    width:70%;
    background:transparent;
    border:0;
    color:#fff;
    font-weight:500;
}

#card-prompt #h2{
    font-size:20px;
    padding:0;
    text-align:center;
}
#card-prompt h2 {
    padding:10px;
}
/*CSS For Cloud Loader Created By Hasmik*/
.loader-wrapper{
    min-width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    font-family: 'Comfortaa', cursive;
    background-color:white;
}
.loader-wrapper>h1{
    margin:20px 0;
    background:linear-gradient(145deg,#fc00ff,#00dbde);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.loader-wrapper>div:nth-child(1){
    position:relative;
    height:6.3rem;
    width:10rem;
}
.loader-wrapper>div:nth-child(1) div:nth-child(2){
    width:10.5rem;
    height:6.1rem;
    background-repeat:no-repeat ;
    background-position:0 -35px; background-image:url("https://upload.wikimedia.org/wikipedia/commons/4/4c/Fxemoji_u2601.svg"); 
    background-size:cover;
    position:absolute;
    bottom:0;
    z-index:5;
}
.loader-wrapper>div:nth-child(1) div:nth-child(1){
    width:5rem;
    height:5rem;
    content:"";
    position:absolute;
    right:0;
    background-repeat:no-repeat ;
    background-size:cover;
    background-image:url("https://upload.wikimedia.org/wikipedia/commons/c/ce/Fxemoji_u1F323.svg");
    background-size:cover;
    z-index:4 !important;
    animation:spin 7s linear infinite;
}
@keyframes spin{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
@keyframes loader-fade{
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

/*CSS for Cloud Loader End*/
ul li {
    list-style:none;
}
ul li a{
    color:#fff;
    text-decoration:none;
}